.venv/
*/YOLOX/
*/ByteTrack/
models/*.pth


inputs/*.mp4
inputs/*.avi
inputs/*.mov
inputs/*.png
inputs/*.jpg
inputs/*.jpeg
inputs/*.bmp
inputs/*.tif

outputs/*.mp4
outputs/*.avi
outputs/*.mov
outputs/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.bmp
outputs/*.tif
outputs/*.csv

__pycache__/
*.pyc
.DS_Store
logs/
results/
checkpoints/
temp/
